In [ ]:
# condition statement: if,else,elif

In [ ]:
# if condition:
#    block of code

In [ ]:
n = int(input('enter your age: '))

if n>=12:
    print("your age is ",n)

In [ ]:
# elif: uses for satisfying multiple conditions

n = int(input('enter your age: '))

# print(type(n))

# print(n)

if n<10:
    print("ticket is free")
    
# elif 10<=n<20:
#     print('ticket price is 100')
    
# elif 20<=n<50:
#     print('ticket price is 200')
    
else:
    print('you are too old')

In [ ]:
# for loop:

In [ ]:
# for i in iterable:
#     print(i)

In [ ]:
for i in range(10):   # range(start,end-1,step) ---> 
    print(i,end=',')

In [ ]:
for i in range(0,10):   
    print(i,end=',')

In [ ]:
for i in range(5,10):   
    print(i,end=',')

In [ ]:
for i in range(0,10,2):   
    print(i,end=',')

In [ ]:
s = 'qwerty'

for i in s:
    print(i,end=",")
#     print(type(i))

In [ ]:
s = ['1','2','3','4','5']

for i in s:
    
    if int(i)>3:
        
        print(i,end=",")
#     print(type(i))

In [ ]:
for i in range(10):
    if i==7:
        break
    print(i,end=",")

In [ ]:
for i in range(10):
    if i==7:
        continue
    print(i,end=",")

In [ ]:
# iterable --> also an object---> uses iter() function ---> and generate iterator

# iterator --> also an object --> uses next() fuction ---> for returning output

In [ ]:
# while loop:

#  while condition:
#       block of code

In [ ]:
i = 0

while i<=12:
    print(i,end=",")
    
    i = i+1

In [ ]:
i = 0


    
while i<12:
    print(i,end=",")

    
    i = i+1

In [ ]:
l1 = ['a','b','c']

l2 = ['a','b','c']

print(l1==l2)  # equal operator only check value

In [ ]:
l1 = ['a','b','c']

l2 = ['a','b','c']

print(l1 is l2)  # is operator check value and position

In [ ]:
# reverse integer:

n = int(input("enter number: "))  # 123

reverse = 0

while n!=0:  # 123!=0
    reverse = reverse*10 + n%10  #  reverse = 0*10 + 3       # 123%10==3
    n = n//10  # 123//10==12
print("after reverse ",reverse)

In [ ]:
# fibonacci series: 0,1,1,2,3,5

def fibonacci(n):
    a = 0
    b = 1
    if n==1:
        print(a)
    else:
        print(a,b,end=" ")
        
        for i in range(n-2):
            c = a+b  # c = 1+2=3
            a = b # 1
            b = c # 2
            print(b,end=" ")
            
            
fibonacci(6)

In [ ]:
# armstrong number:
# 123 = 1**3 + 2**3 + 3**3
# 1234 = 1**4 + 2**4 + 3**4 + 4**4

num = input("enter number: ")

order = len(num)

sum = 0


t = int(num)

while t>0:
    remainder = t%10
    sum = sum + remainder**order
    t = t//10
if int(num)==sum:
    print("arm num.")
else:
    print("not a arm no.")
    
print("after running code: ",sum)

In [ ]:
print(1**4 + 6**4 + 3**4 + 4**4)

In [ ]:
# integer palindrom: 121==121

num = int(input("enter no. : "))

reverse,t= 0,num

while t!=0:
    reverse = reverse*10 + t%10
    t = t//10
if reverse==num:
    print("palindrome no.")
else:
    print("not")

In [ ]:
# string palindrom: naman==naman

string = input("enter: ")

if string==string[::-1]:
    print('string is palindrom')
else:
    print("not a palindrome")

In [ ]:
# check binary no. ; 010101111110

n = int(input('enter binary no. : '))

while n>0:
    f = n%10
    if f!=0 and f!=1:
        print("not a binary no.")
        break
    n = n//10
    
    if n==0:
        print("binary no.")

In [ ]:
# find sum of sum:

def sum(n):
    l = 0
    
    for i in str(n):
        l = l + int(i)
    return l

print(sum(123))

In [ ]:
# swapping:

a = int(input('enter 1st no. : ')) # 5
b = int(input("enter 2nd no. : ")) # 6

a = a-b  = 5-6= -1
b = a+b  = -1+6= 5
a = b-a  = 5+1  = 6

print("a: ",a)
print("b: ",b)

In [ ]:
a = int(input('enter 1st no. : ')) # 5
b = int(input("enter 2nd no. : ")) # 6

t = a
a = b
b = t


print("a: ",a)
print("b: ",b)

In [ ]:
# given no. is perfect or not:

# 28 ---> 1,2,4,7,14 itself excluded

# a number that is equal to tha sum of its +ve divisors,excluding the no. itself 

n = int(input('enter no.: '))

sum = 0

for i in range(1,n):
    if n%i==0:
        sum += i
if sum==n:
    print("given no. is perfect no.")
else:
    print('not a perfect no.')

In [ ]:
# find out prime factors or multipliers:
# divided by 1 and itself

def primefactors(n):  # 10
    
    c = 2  # 3
    while n>1:  # 5>1
        if n%c==0:    # 5%3==0      
            print(c,end=' ')
            n = n/c    # 10/2 ==5.0  
        else:
            c = c + 1  # 3

primefactors(20)

In [ ]:
# factorial
# 5! == 5*4*3*2*1

n = int(input("enter no. :  "))

factorial=1
if n<0:
    print("fact does'nt exit of negative no.")
elif n==0:
    print("fact of 0 : 1")
    
    
else:
    for i in range(1,n+1):  # range(1,6)--->1,2,3,4,5
           factorial *= i
    print("fact :",factorial)

In [ ]:
for i in range(5,0,-1):    # range(start,end+1,-1)----> in case of reverse indexing.
    
    print(i)

In [ ]:
# calculator:

n1 = int(input("pls entr 1st : "))
n2 = int(input("pls entr 1st : "))

op = input("enter operations +,-,*,/,// :")

if op=="+":
    print(n1+n2)
elif op=='-':
    print(n1-n2)
elif op=='*':
    print(n1*n2)
elif op=='/':
    print(n1/n2)
elif op=='//':
    print(n1//n2)
else:
    print("invalid option")

In [ ]:
# lcm:
#.   2 8,12
#.    2 4,6

#.    2  2,3

#.     3   1,3

#       1   1,1

#. 2*2*2*3 == 24

In [27]:


def lcm(n1,n2):   # 
    if n1>n2:
        greater = n1
    else:
        greater = n2
        
    while (True):
        
        if ((greater%n1==0) and (greater%n2==0)):  # 24%8 ==0  and  24%12==0
            
            break
            
        greater = greater + 1
    print(greater)
    
lcm(8,12)

IndentationError: expected an indented block (336244430.py, line 13)

In [ ]:
def lcm(n1,n2,n3):   # 
    if n1>n2 and n1>n3:
        greater = n1
    elif n2>n1 and n2>n3:
        greater = n2
    else:
        greater = n3
        
    while (True):
        
        if ((greater%n1==0) and (greater%n2==0) and (greater%n3==0)):  # 24%8 ==0  and  24%12==0
            
            break
            
        greater += 1
    print(greater)
    
lcm(8,12,20)

In [ ]:
# hcf or gcd:

def hcf(n1,n2):
    if n1>n2:
        minimum = n2
    else:
        minimum = n1
        
    for i in range(1,minimum+1):
        if ((n1%i==0) and (n2%i==0)):
            h = i
    print(h)
        
        
hcf(8,12)

In [ ]:
# leap year:
#           century leap year means it divided by 100 and 400
#           normal leap year means it divided by 4 but not 100

year = int(input('enter year: '))

if (year%400==0) and (year%100==0):
    print('century leap year')
elif (year%4==0) and (year%100!=0):
    print('narmal leap year')
else:
    print('not a leap year')

In [5]:
# find out prime no.: 2,3,5,7,11,13,.....

lower = int(input('enter no.1: '))
upper = int(input('enter no.2: '))
k = []

for i in range(lower,upper+1):  # range(50,101)
    
    if i>1:  
        for j in range(2,i):  
            if i%j==0:  
                break
            else:
                print(i,end=" ")
                k.append(i)
                
            break
print()                
print('length: ',len(k))

enter no.1: 20
enter no.2: 30
21 23 25 27 29
length:  5

In [3]:
# check vowels and consonents:

char = input('enter characters(a,b,c.....z) : ')

if (char=='a' or char=='e' or char=='i' or char=='o' or char=='u'):
    print('given char is vowel')
else:
    print('given char is consonents')

enter characters(a,b,c.....z) : q
given char is consonents

In [6]:
# permutation and combination
# permutation: p(n,r) = n!/(n-r)!
# combination: ncr = n!/((n-r)! * r!)

from itertools import permutations

l = [1,2,3,4]

p = permutations(l)

#print(p)

for i in list(p):
    print(i)

(1, 2, 3, 4)
(1, 2, 4, 3)
(1, 3, 2, 4)
(1, 3, 4, 2)
(1, 4, 2, 3)
(1, 4, 3, 2)
(2, 1, 3, 4)
(2, 1, 4, 3)
(2, 3, 1, 4)
(2, 3, 4, 1)
(2, 4, 1, 3)
(2, 4, 3, 1)
(3, 1, 2, 4)
(3, 1, 4, 2)
(3, 2, 1, 4)
(3, 2, 4, 1)
(3, 4, 1, 2)
(3, 4, 2, 1)
(4, 1, 2, 3)
(4, 1, 3, 2)
(4, 2, 1, 3)
(4, 2, 3, 1)
(4, 3, 1, 2)
(4, 3, 2, 1)

In [7]:
l = [1,2,3,4]

p = permutations(l,3)

#print(p)

for i in list(p):
    print(i)

(1, 2, 3)
(1, 2, 4)
(1, 3, 2)
(1, 3, 4)
(1, 4, 2)
(1, 4, 3)
(2, 1, 3)
(2, 1, 4)
(2, 3, 1)
(2, 3, 4)
(2, 4, 1)
(2, 4, 3)
(3, 1, 2)
(3, 1, 4)
(3, 2, 1)
(3, 2, 4)
(3, 4, 1)
(3, 4, 2)
(4, 1, 2)
(4, 1, 3)
(4, 2, 1)
(4, 2, 3)
(4, 3, 1)
(4, 3, 2)

In [8]:
l = [1,2,3,4]

p = permutations(l,2)

#print(p)

for i in list(p):
    print(i)

(1, 2)
(1, 3)
(1, 4)
(2, 1)
(2, 3)
(2, 4)
(3, 1)
(3, 2)
(3, 4)
(4, 1)
(4, 2)
(4, 3)

In [10]:
from itertools import combinations

l = [1,2,3]

p = combinations(l,2)

#print(p)

for i in list(p):
    print(i)

(1, 2)
(1, 3)
(2, 3)

In [13]:
l = [2,3,1]

p = combinations(l,2)

#print(p)

for i in list(p):
    print(i)

(2, 3)
(2, 1)
(3, 1)

In [ ]:
# %d-----> {} pass only integer value and gives error if pass string

# %s-----> {} can pass both string and integer type value and it convert integer value into string

In [10]:
a = input("enter number: ")

print(type(a))

print("number is %d"%int(a))

print('number is {}'.format(a))

print(f'number is {a}')

enter number: 12
<class 'str'>
number is 12
number is 12
number is 12

In [11]:
a = input("enter number: ")


print("number is %s"%(a))

enter number: 12
number is 12

In [12]:
a = input("enter number: ")

print("number is %s"%int(a))

enter number: 12
number is 12

In [13]:
# enumerate():it provides position/indexing and value

l = ['q','w','r','t']

for position,value in enumerate(l):
    
    print(position,":",value )

0 : q
1 : w
2 : r
3 : t

In [14]:
l = 'qwerty'

for position,value in enumerate(l):
    
    print(position,":",value )

0 : q
1 : w
2 : e
3 : r
4 : t
5 : y

In [ ]:
l1,l2,l3 = 1,2,3

for position,value in enumerate(l):
    
    print(position,":",value )

In [ ]:
d = {'a':1,'b':2,'c':3}

for key,value in [(1,2),(3,4),()]:
    print(key,value)

In [ ]:
d.items():------->. [(1,2),(3,4),()]

In [16]:
key,value = 1,2  #----->unpacking concept

print(key)
print(value)

1
2

In [19]:
# zip(): it merge two list and produce tuple inside list

l1 = ['q','w','r']
l2 = ['1','2','3']

print(list(zip(l1,l2)))

[('q', '1'), ('w', '2'), ('r', '3')]

In [20]:
l1 = ['q','w','r']
l2 = ['1','2','3']

d = list(zip(l1,l2))

print(dict(d))

{'q': '1', 'w': '2', 'r': '3'}

In [23]:
# list comprehension:

l = [1,2,3,4,5,6,7,8,9]

num = [i*2 if i%2==0 else -i for i in l]

print(num)

[-1, 4, -3, 8, -5, 12, -7, 16, -9]

In [27]:
l = [1,2,3,4,5,6,7,8,9]

k = []

for i in l:
    if i%2==0:
        k.append(i*2)
    else:
        k.append(-i)
        
print(k)

[-1, 4, -3, 8, -5, 12, -7, 16, -9]

In [28]:
# dictionary comprehension:

l = [1,2,3,4,5,6,7,8,9]

num = {i:i*2 if i%2==0 else -i for i in l}

print(num)

{1: -1, 2: 4, 3: -3, 4: 8, 5: -5, 6: 12, 7: -7, 8: 16, 9: -9}

In [30]:
l = [1,2,3,4,5,6,7,8,9]

k = {}

for i in l:
    if i%2==0:
        k[i] = i*2
    else:
        k[i] = -i
        
print(k)

{1: -1, 2: 4, 3: -3, 4: 8, 5: -5, 6: 12, 7: -7, 8: 16, 9: -9}

In [12]:
# # #
#   #
# # #
#   #

for row in range(7):
    for col in range(5):  # range(5)---->0,1,2,3,4
        if (col==0 or col==4):
            print('*',end='')
            
        elif(row==0 or row==3) and (col>0 and col<4):
            print("*",end='')
            
        else:
            print("",end=' ')
    print()

*****
*   *
*   *
*****
*   *
*   *
*   *

In [9]:
for row in range(7):
    for col in range(5):  # range(5)---->0,1,2,3,4
        
        if (((col==0 or col==4) and (row!=0 and row!=3)) or (row==0 and (col>0 and col<4)) or row==3):
            print('*',end='')
            
#         elif (row==0 and (col>0 and col<4)):
#             print("*",end='')
            
#         elif row==3:
#             print("*",end='')
            
        else:
            print("",end=' ')
    print()

 ***
*   *
*   *
*****
*   *
*   *
*   *

In [26]:
# print capital B:

for row in range(7):
    for col in range(5):
        if col==0:
            print('|',end='')
            
        elif col==4 and (row!=0 and row!=6):
            print("*",end='')
        
            
        elif ((row==0 or row==3 or row==6) and (col>0 and col<4)):
            print('@',end='')
            
        else:
            print('',end=' ')
    print()

|@@@
|   *
|   *
|@@@*
|   *
|   *
|@@@

In [ ]:
# function: it is a process to call again and again a code

# type of user defined function:
#                  1.parameterised fuction
#                  2.non-parameterised func
#                  3.default parameterised
#                  4.positional parameterised func
#                  5.anonymous funct like lambda func
#                  6.return type func
#                  7.recursive func
#                  8.argument function like *rgs
#                  9.keyword argument func like **kwargs
#                  10.decorators
#                  11.generator
#                  12 iterator

In [6]:
# def keyword is uses for creating function

# 1.parameterised fuction

def add(x,y):   # add is the function name,      x,y is the parameter
    t = x+y
    print(t)
    
add(5,5)  # 2,3 is the input and commanly known as arguments while call function

10

In [3]:
# 2.non-parameterised func:

def multiply():
    print('hello')
    
    
multiply()

hello

In [7]:
# 3.default parameterised:

def default(x,y,z=10):
    
    print(x+y+z)
    
    print()
    
    print(x)
    print(y)
    print(z)
    
    
default(2,3,5)

10

2
3
5

In [8]:
def default(x,y,z=10):
    
    print(x+y+z)
    
    print()
    
    print(x)
    print(y)
    print(z)
    
    
default(2,3)

15

2
3
10

In [11]:
def default(x,y,z='ram'):
    
#     print(x+y+z)
    
#     print()
    
    print(x)
    print(y)
    print(z)
    
    
default(2,3)

2
3
ram

In [14]:
# 4.positional parameterised func

def positional(x,y,z):
    
    print(x)
    print(y)
    print(z)
    
positional(2,3,4)

2
3
4

In [15]:
def positional(x,y,z):
    
    print(x)
    print(y)
    print(z)
    
positional(z=10,x=20,y=30)

20
30
10

In [ ]:
# 5.anonymous function: without name
#                                   like lambda function
#                                   can not apply loop on lambda function
#                                   can perform only mathematical operations

In [ ]:
# lambda function:
#                   lambda arguments : expression

In [16]:
s = lambda x,y : x+y

print(s(2,3))

5

In [18]:
gst = lambda x : x*18//100

print(gst(50000))

9000

In [19]:
multi = lambda x,y,z : (x+y*z)

print(multi(2,3,4))

14

In [2]:
# pyramid:

n = int(input("enter rows: ")) 

for i in range(0,n): 
    
    for j in range(0,n-i+1):  
        print(end=' ')
        
    for k in range(0,i+1):  
        print('*',end=' ')
    print()

enter rows: 6
       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *

In [ ]:
# range(10)--->0,,,9
# range(1,10)---->1,....9
# range(1,10,1)--->1,2,3,...9
# range(1,10,2)--->1,3,5,7

In [21]:
for i in range(10):
    print(i,end=",")

0,1,2,3,4,5,6,7,8,9,

In [ ]:
for i in range(10):
    print(i,end=",")

In [8]:
# k

for row in range(7):
    for col in range(5):
        if col==0:
            print('K',end='')
            
        elif col==1 and row==3:
            print("k",end='')
        elif col==4 and row==0:
            print("k",end='')
        elif col==3 and row==1:
            print("k",end='')
        elif col==2 and row==2:
            print("k",end='')
        elif col==4 and row==6:
            print("k",end='')
        elif col==3 and row==5:
            print("k",end='')
        elif col==2 and row==4:
            print("k",end='')
            
        else:
            print('',end=' ')
    print()

K   k
K  k
K k
Kk
K k
K  k
K   k

In [19]:
# pattern 

#
##
###
####

n = int(input("enter no. of rows:   "))

for row in range(1,n+1):
    for col in range(1,row+1):
        print('*',end='')
    print()

enter no. of rows:   6
*
**
***
****
*****
******

In [23]:
n = int(input("enter no. of rows:   "))  

k = 1

for row in range(1,n+1):   # range(1,7)--->1,2,3,4,5,6
    
    for col in range(1,k+1):
        print('*',end='')
        
    k += 2
    print()

enter no. of rows:   6
*
***
*****
*******
*********
***********

In [28]:
n = int(input("enter no. of rows:   "))  

k = 1

for row in range(1,n):   # range(1,7)--->1,2,3,4,5,6
    
    for space in range(n-row):  # for putting space
        print(" ",end=' ')
    
    for col in range(1,k+1):   # for printing stars
        print('*',end='')
        
    k += 2
    print()    # for changing row

enter no. of rows:   6
          *
        ***
      *****
    *******
  *********

In [ ]:
# map: it is inbuilt func
#      it takes two arguments like function and iterable
#      it returns iterator or map object based on the function and iterable we have passed

# map(fuction,iterable)

In [31]:
l = [1000,2000,3000,4000,5000,6000]

gst = list(map(lambda x : x*18/100,l))

print(gst)

[180.0, 360.0, 540.0, 720.0, 900.0, 1080.0]

In [34]:
l = [1000,2000,3000,4000,5000,6000]


def gst(x):
    
    k = x*18/100
    
    return k
    
q = list(map(gst,l))

print(q)

TypeError: gst() missing 1 required positional argument: 'x'

In [ ]:
# filter: it is inbuilt func and generate filter output
#      it takes two arguments like function and iterable
#      it returns iterator or map object based on the function and iterable we have passed

# filter(fuction,iterable)

In [36]:
l = [1000,2000,3000,4000,5000,6000]

f =  filter(lambda x : x>1000 and x<6000,l)

g = list(f)

print(g)

[2000, 3000, 4000, 5000]

In [37]:
l = [1000,2000,3000,4000,5000,6000]


def filt(x):
    
    k = x>1000 and x<6000
    
    return k
    
q = list(filter(filt,l))

print(q)

[2000, 3000, 4000, 5000]

In [ ]:
# reduce : it returns single value output
#         it merge/binding data

# reduce(fuction,sequence)

In [34]:
import functools

s = 'qwertyuiop'

t = sorted(s)

#print(t)

u = functools.reduce(lambda x,y:x+y,t)

print(u)

eiopqrtuwy

In [37]:
s1 = '12345'

t = sorted(s1)

#print(t)

u = functools.reduce(lambda x,y: int(x) + int(y),t)

print(u)

15

In [38]:
s1 = '12345'

t = sorted(s1)

#print(t)

u = functools.reduce(lambda x,y: int(x) * int(y),t)

print(u)

120

In [43]:
# return type fuction:

def add(x,y):
    
    t = x+y
    
    return t

    
print(add(2,3))

5

In [45]:
# recursive function: it is a process to call itself again and again untill the condition satisfied.

def factorial(x):
    
    if x==1:
        return 1
    else:
        return (x*factorial(x-1))
    
factorial(6)

720

In [20]:
# argument function: 
#                   syntax ---> *args   =====> *apna_name
#                   output generated by *args is tuple datatype


def argument(*args):
    
    print(type(args))
    
    return args


l = [1,2,3,4,5,6]

print(argument(l))

<class 'tuple'>
([1, 2, 3, 4, 5, 6],)

In [22]:
def multi(*ram):
    
    print(type(ram))
    
    # ram ==> tuple
    
    for i in ram:
        return i
        
        
f = [1,2,3,4,5,6,7,8,9]
        
print(multi(f))

<class 'tuple'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
def add(k,k1,k2,*x):
    
    print(k)
    print(k1)
    print(k2)
    print(x)
    
l = ['a','b','c']
    
add('ram','q','t','w','t','u','e')

ram
q
t
('w', 't', 'u', 'e')

In [33]:
def adds(*x,k):  # wrong and can not use
    
    print(x)
    print(k)
    
l = ['a','b','c']
    
add('ram',k==l)

NameError: name 'k' is not defined

In [39]:
# keyword argument:
#                  syntax--->**kwarg =====> **any_name
#                 output generated by **kwargs is dictionary data type

def show(**kwargs):
    print(type(kwargs))
    print(kwargs)
    
    
show(id=123, name ='ram',age=28)

<class 'dict'>
{'id': 123, 'name': 'ram', 'age': 28}

In [43]:
# def add(**abc):
    
#     print(type(abc))
    
#     for key,value in abc.items():
        
#         print(f"{key} : {value}")
        
# add(id=123, name ='ram',age=28)

In [46]:
def add1(k1,k2,**kwargs):
    print(k1)
    print(k2)
    print(kwargs)
    
add1('ram','kumar', id=123, name ='ram',age=28, addrs = 'delhi')

ram
kumar
{'id': 123, 'name': 'ram', 'age': 28, 'addrs': 'delhi'}

In [1]:
# decorators:
#            it is just like a normal function but it take another function as an parameter or input to
#            add functionality and then return another function without changing original code




def multiply():
    return 10

print(multiply())

10

In [2]:


def decorator(func):
    def wrapper():
        d = func()
        multi = d*9
        return multi
    return wrapper



def multiply():
    return 10

inner = decorator(multiply)
print(inner())

90

In [3]:
def decorator(func):
    def wrapper():
        d = func()
        multi = d*9
        return multi
    return wrapper


@decorator        # --> inner = decorator(multiply)
def multiply():
    return 10

print(multiply())

90

In [5]:

def my_decorator(func):
    def wrapper():
        print("*************************")
        func()
        print("*************************")
    return wrapper

@my_decorator
def hello():
    print('hello')
        
hello()

@my_decorator
def display():
    print("ramesh")
    
display()

*************************
hello
*************************
*************************
ramesh
*************************

In [ ]:
# generator:
#          it uses yield keyword
#          it is a way of creating iterator
#          it generate generator object

In [6]:
l = [x for x in range(1000)]

for i in l:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999

In [9]:
l = [x for x in range(100000)]

# for i in l:
#     print(i)

import sys

sys.getsizeof(l)

824456

In [10]:
x = range(10000000)

# for i in x:
#     print(i)

sys.getsizeof(x)

48

In [16]:
def generator():
    yield 'hello1'
    yield 'hello2'
    yield 'hello3'
    
q = generator() 

# print(next(q))
# print(next(q))
# print(next(q))

for i in q:
    print(i)

hello1
hello2
hello3

In [22]:
def square(num):
    for i in range(1,num+1):
        yield i
        
        
w = square(20)

print(next(w))
print(next(w))
print(next(w))

for i in w:
    print(i,end=" ")

1
2
3
4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [23]:
# list comprehension:

l = [i**2 for i in range(1,20)]

print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [28]:
# generator comprehension:

generator = (i**2 for i in range(1,20))

#print(generator)

# print(next(generator))
# print(next(generator))
# print(next(generator))

for i in generator:
    print(i,end=' ')

1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361

In [ ]:
# iterable:
#          it is a object and uses iter function to generate iterator


#iterator:
#         it is also an object and it uses next function for returninng output/result

In [30]:
l = [1,2,3,4,5,6,7,8,9]

f = iter(l)
print(next(f))
print(next(f))
print(next(f))
print(next(f))

1
2
3
4

In [ ]:
6! = 6*5*4*3*2*1

In [46]:
def add(x,y):
    
    t = x+y
    
    return t

    
print(add('ram','sharma'))

ramsharma

In [10]:
#######               # range(start,end+1,-step)
#####
###
##
#


num = int(input("enter no. of rows: "))  # num=6

for row in range(num,0,-1):    # range(6,0,-1)--->6
    
    for col in range(0,row):  # range(0,6)-->0,1,2,3,4,5
        print("*",end="")
        
    print()

enter no. of rows: 6
******
*****
****
***
**
*

In [26]:
# diamond:

def diamond(row):
    
    for i in range(row):
        print(" "*(row-i-1) + "*"*(2*i+1))
        
    for j in range(row-1,-1,-1):
        print(" "*(row-j-1) + "*"*(2*j+1))
        
diamond(7)

      *
     ***
    *****
   *******
  *********
 ***********
*************
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [32]:
# 1
# 12

n = int(input('enter no of rows: '))

for row in range(n):
    
    for col in range(row+1):
        print(col+1,end=' ')
        
    print()

enter no of rows: 6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [4]:
n = int(input('enter no. of rows: '))

for row in range(n):
    for col in range(row,-1,-1):
        print(col+1,end=' ')
    print()

enter no. of rows: 6
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1

In [6]:
n = int(input('enter no. of rows: '))

for row in range(n):
    for col in range(row,-1,-1):
        print(row+1,end=' ')
    print()

enter no. of rows: 6
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [8]:
n = int(input('enter no of rows: '))

for row in range(n):
    for col in range(row+1):
        print(n-row,end=' ')
    print()

enter no of rows: 6
6
5 5
4 4 4
3 3 3 3
2 2 2 2 2
1 1 1 1 1 1

In [11]:
n = int(input('enter no of rows: '))

for row in range(n):
    for col in range(row+1):
        print(n-col,end=' ')
    print()

enter no of rows: 6
6
6 5
6 5 4
6 5 4 3
6 5 4 3 2
6 5 4 3 2 1

In [12]:
n = int(input('enter no of rows: '))

for row in range(n):
    for col in range(row,-1,-1):
        print(n-col,end=' ')
    print()

enter no of rows: 6
6
5 6
4 5 6
3 4 5 6
2 3 4 5 6
1 2 3 4 5 6

In [19]:
n = int(input('enter no of rows: '))

for row in range(n):
    
    for space in range(n-row-1):
        print(' ',end=' ')
    
    for col in range(row,-1,-1):
        print(n-col,end=' ')
    print()

enter no of rows: 6
          6
        5 6
      4 5 6
    3 4 5 6
  2 3 4 5 6
1 2 3 4 5 6